    <a-entity>
        <a-video
          id="#v_2"
          src="#video_2"
          width="2"
          material="flat"
          height="1.1"          
          >
        </a-video>       
     </a-entity>